@import "ui.css";

.card {
  position: relative;

  width: 223px;
  height: 324px;

  border-radius: 25px;
  box-shadow: 5px 5px 12px  rgba(0, 0, 0, 0.3);

  -webkit-user-select: none;
  user-select: none;
}

.card img {
  pointer-events: none;

  -webkit-user-select: none;
  user-select: none;
}

.card.dragging {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
}

.card.back {
  border: 1px solid rgba(0, 0, 0, 0.7);
}

.card .back-design {
  box-sizing: border-box;

  width: 100%;
  height: 100%;

  border-radius: inherit;
  border: 10px solid white;
}

.card .back-design > svg {
  height: 100%;
  width: 100%;

  border-radius: inherit;
  border: 1px solid black;
}
