/** Basic styling for my seven tasks examples. */

/* Widgets */
.output {
  position: relative;
  padding: 1px 4px;
  margin: 0 4px;

  text-align: right;

  border: 1px solid black;
}

.invalid > input {
  background-color: red;
}

.progress-bar {
  position: relative;
  width: 200px;
  height: 25px;
}

.progress-bar .bar {
  position: relative;
  height: 100%;
  background-color: blue;
}

.listbox {
  position: relative;
  width: 15ex;
  border: 1px solid black;
  -webkit-user-select: none;
  user-select: none;
}

.listbox .row {
  cursor: pointer;
}

.listbox .selected {
  background-color: blue;
  color: white;
}


/* Counter  */
.counter {
  padding: 1px;
}

.counter > * {
  display: inline-block;
}


/* Temperature Converter */

.converter > * {
  display: inline-block;
}

.temperature {
  margin: 0 10px 0 5px;
}

.temperature input {
  position: relative;
  width: 7ex;
  margin: 0 5px;

  text-align: right;
}

.temperature .output {
  width: 5ex;
}

.temperature > * {
  display: inline-block;
}


/* Flight Booker */
.flight-booker {
  position: relative;
  display: inline-block;
}

/* Timer */

.timer .output {
  position: relative;
  width: 8ex;
  border: none;
  text-align: left;
}
