/** Basic styling for my seven tasks examples. */
div.counter {
  padding: 1px;
}

div.counter > * {
  display: inline-block;
}

div.output {
  position: relative;
  width: 5ex;
  padding: 1px 4px;
  margin: 0 4px;

  text-align: right;

  border: 1px solid black;
}

div.converter > * {
  display: inline-block;
}

.temperature {
  margin: 0 10px 0 5px;
}

.temperature input {
  position: relative;
  width: 7ex;
  margin: 0 5px;

  text-align: right;
}

.temperature > * {
  display: inline-block;
}
